<nav class="breadcrumb-bar">
  <div class="nav-wrapper row">
    <div class="col s12">
      <%= link_to 'Adventures', adventures_path, class: 'breadcrumb' %>
      <%= link_to @act.adventure.title, adventure_path(@act.adventure), class: 'breadcrumb' %>
      <%= link_to @act.title, act_path(@act), class: 'breadcrumb' %>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s8">
      <% @act.chapters.each do |chapter| %>
        <%= render 'acts/chapters/chapter', chapter: chapter %>
      <% end %>

      <%= link_to 'Add a new chapter', new_act_chapter_path(@act) %>
    </div>
    <div class="col s4">
      <%= render 'act_summary', act: @act %>
    </div>

  </div>
</div>