<div class="col s12 m3 ">
  <div class="card">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        <%= adventure.title %></span>
      <p>
        <%= adventure.sub_title %>
      </p>
      <div class="card-action">
        <%= link_to material_icon.zoom_in, adventure_path(adventure) %>
        <%= link_to material_icon.edit, edit_adventure_path(adventure) %>
        <%= link_to material_icon.delete_forever, adventure_path(adventure),
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %>
        <%= link_to material_icon.arrow_back, adventures_path %>
      </div>
    </div>
  </div>
</div>