<%= form_for(@adventure) do |form| %>

    <% if @adventure.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@adventure.errors.count, "error") %> prohibited
            this act from being saved:
          </h2>
          <ul>
            <% @adventure.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="input-field col s12">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= form.label :sub_title %><br>
        <%= form.text_field :sub_title %>
      </div>
    </div>
    <div class="row">
      <%= form.submit class: 'btn waves-effect waves-light' %>
    </div>
<% end %>