<!DOCTYPE html>
<html>
  <head>
    <title>Dedonrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
  <% end %>
    <%= render 'shared/top_nav' %>
    <%= yield %>


  </body>
</html>
