<!DOCTYPE html>
<html>
<head>
  <title>D&D on rails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <% flash.each do |message_type, message| %>
    <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
  <% end %>
  <%= render 'shared/top_nav' %>
</header>

<main>
  <%= yield %>
</main>

<footer class="page-footer blue-grey darken-4">
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright MyBotta Corp.
    </div>
  </div>
</footer>

</body>
</html>
